.error{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.img{
  font-size: 400px;
  fill: #ac3b61
}

.title{
  color: #2e151b;
  font-size: 20px;
}