.view{
  display: flex;
  justify-content: center;
  align-items: center;
}

.view_info {
  margin-right: 30px;
}

.view_info h3{
  font-size: 30px;
  color: #123c6d;
  margin: 15px 0;
  padding: 7px;
  border-radius: 5px;
  border-bottom: 2px solid  #123c6d;
  background-color: rgba(240, 248, 255, 0.433);
}

.view_info h3 span{
  font-size: 25px;
  color: #123c6d;
  padding: 6px;
  margin: 10px 0;
}


