.header{
  margin-bottom: 50px;
}

.header_inner{
  display: flex;
  padding: 50px 0;
 align-items: center;
}

.image{
  max-width: 400px;
  object-fit: cover;
  margin-right: 10px;
  
}

.title{
  font-family: 'Square Peg', cursive;
  font-size: 60px;
  color: #123c69;
  width: 40%;
  position: relative;
}

.title span{
  position: absolute;
}
.title span:first-child{
  right: -100px;
  bottom: 50px;
  transform: rotate(-60deg);
}

.title span:nth-child(2){
  right: -180px;
  bottom: 30px;
  transform: rotate(60deg);
}

.title span:nth-child(3){
  right: -140px;
  bottom: -90px;
  transform: rotate(60deg);
}

.title span:nth-child(4){
  right: -100px;
  bottom: -120px;
  transform: rotate(60deg);
}