.contactsGrid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.item{
  grid-column: 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff76;
  padding: 10px 5px;
  border: 1px solid #123c6d;
  border-radius: 10px;

}

.img{
  width: 200px;
  height: 170px;
  border-radius: 10%;
  background-color: #123c6d;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.img img{
  width: 100%;
  height: 100%;
  border-radius: 10%;
  display: block;
  object-fit: cover;
  z-index: 1;
}

.infobox h3,h4{
  color: #123c6d;
  margin-bottom:10px;
  white-space: nowrap;

}

.infobox a{
  margin-left: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;

}

.avatar{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 20px;
  transform: translate(-50%,-50%);
  z-index: 0;
}