.inner{
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.info{
  margin-right: 30px;
  width: 100%;
}
.info h2{
 color: #123c6d;
 font-size: 25px;
 margin-bottom: 10px;
 text-align: center;
}

.info img{
  width: 400px;
  border-radius: 30px;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}


.icon{
  font-size: 20px;
  margin-left: 5px;
}

.inputbox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filelinput{
  display: none;
}

.filelabel{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background-color:#123c6d ;
  color: #fff;
  width: 100px;
  margin: 0 auto;
}

.button{
  background-color: #123c6d !important;
  height: 50px;

}
.avatar{
  width: 250px !important;
  height: 250px !important;
  margin-bottom: 10px;
}

.avatar{
  object-fit: cover;

}

.imgError{
  background-color: rgb(169, 51, 51);
  color: #fff;
  padding: 5px;
  white-space: nowrap;
  transform: rotate(90deg);  
  font-size: 20px;
  position: absolute;
  right: -180px;
}