.table{
  background-color: #ffffff76 !important;
}



.table_header th{
  font-size: 20px;
  color: #123c6d;
  margin: 5px;
  padding: 15px 7px;
}

.table_body td,a{
  color: #123c6d;
}
.table_body td{
  margin: 5px;
  padding: 7px;
}